
@model Product //тип данных для 4 спасоба


<div class="text-center">
    <h1 class="display-4">О продуктe</h1>
    <h3>@Model.ProductName</h3>
    <p><b>Описание: </b></p>
    <p>@Model.ProductDescription</p>
    <p><b>Стоимость: </b>@Model.ProductCost</p>
</div>
